
.posts {
    padding: 2rem;
    align-items: center;
    text-align: center;
  }
  
  .post {
    align-items: center;
    margin-left:20%;
    margin-right: 50%;
    background-color: rgb(189, 180, 180);
    border: 1px solid #000000;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    /* width: 700px; */
    height: 100%;
  }
  
  .post img {
    width: 500px;
    border-radius: 5px;
    height: 200px;
  }
  
  .post h2 {
    color: #003366;
  }
  
  .post button {
    background-color: #f90;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
  }

  .post button:hover {
    border-radius: 5px;
    background-color: #ff6600;
    cursor:pointer;
  }


  